h1{
    color: brown;
}

.person{
    width: 30%;
    padding: .8rem;
    border-radius: .5rem;
    border-style:groove ;
    box-shadow:.7rem .8rem .8rem black;
}

.person h1{
    margin-bottom: 5px;
}

.person h3{
    margin-top: 5px;
}